# GENERIC files
*~
.~*
*.swp
*.orig

# MPLAB-X files
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.map
# ajout pepino :
*.hex
*.elf
*.o.d
*genesis.properties

# MPLAB-X folders
pic/Bras_Mecanique.X/nbproject/
pic/Bras_Mecanique.X/build/
pic/Bras_Mecanique.X/dist/

# Sublime text
*.sublime-project
*.sublime-workspace
